<!DOCTYPE html>
<html lang="fr">
<head>
    <!-- Compressed CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/foundation/6.2.1/foundation.min.css">
    <script src='//cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment.min.js'></script>
     <script src='//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
    <!-- Compressed JavaScript -->
    <script src="https://cdn.jsdelivr.net/foundation/6.2.1/foundation.min.js"></script>
    
<title>{{obj.name}}</title>
</head>
<body>


<table width="100%" border="0" >
<tbody>
<tr>
   
		<h2>Description de : {{ obj.name }}</h2>
   
		<button class="close-button" type="button" onclick="window.close()">&times;</button>
  
</tr>

</tbody>
</table>
<table border="0">
<tbody>
	<tr>
		<td valign="top">Catégorie :</td>
		<td valign="top">{{ category.name }}</td>
	</tr>
	<tr>
		<td valign="top">Description :</td>
		<td valign="top">{{ obj.description }}</td>
	</tr>
	<tr>
		<td valign="top">Prix horaire :</td>
		<td valign="top">Prix académique : {{ obj.priceacad }} <br/> Prix non académique : {{ obj.pricenacad }}</td>
	</tr>
	<tr>
		<td valign="top">Nombre de participants :</td>
		<td valign="top">{{ obj.participants }}</td>
	</tr>
	<tr>
		<td valign="top">Niveau d'accès :</td>
		<td valign="top">{{ obj.accesslevel }}</td>
	</tr>
	<tr>
		<td valign="top">Contact :</td>
		<td valign="top">{{ obj.contact }}</td>
	</tr>
	<tr>
		<td valign="top">Email:</td>
		<td valign="top">{{ obj.email }}</td>
	</tr>
	<tr>
		<td valign="top">Téléphone :</td>
		<td valign="top">{{ obj.tph }}</td>
	</tr>

</tbody>
</table>
</div>
<footer>&copy; I.E.F</footer>
</body>
</html>

